
.center {
  height: 90vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.main-buttons {
  display: flex;
  gap: 100px;
}

.nope {
  transition: transform 0.4s ease;
}
